# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

*.test.cpp
*.test1.cpp

# json-parser/

# Executables
*.exe
*.out
*.app

# Other
serv
.DS_Store
.vscode
.obj/
.obj
.idea
*.out