* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #212121;
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body::before, body::after {
    position: fixed;
    inset: 0;
    z-index: -1;
    --grad: radial-gradient(at 25%, red, rgba(255, 0, 0, .2) 50%, transparent 70%);
    --mask: var(--grad), var(--grad);
    -webkit-mask: var(--mask);
    -webkit-mask-composite: source-in;
    -webkit-mask: var(--mask);
            mask: var(--mask);
    -webkit-mask-composite: source-in, xor;
            mask-composite: intersect;
    mix-blend-mode: color;
    content: '';
}
body::before {
    background: #000;
    -webkit-filter: url(#f);
            filter: url(#f);
}
body::after {
    background: -webkit-gradient(linear, left top, right top, from(purple), color-stop(20%, navy), to(aqua));
    background: -o-linear-gradient(left, purple, navy 20%, aqua);
    background: linear-gradient(90deg, purple, navy 20%, aqua);
}

.mySwiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    padding: 2em;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 6rem;
    font-family: 'Roboto Flex', sans-serif;
    overflow: hidden;
}

a {
    position: relative;
    color: inherit;
    text-decoration: none;
    transition: color 0.2s ease-out;
}

a:after {
    content: '🔗';
    position: absolute;
    bottom: 2rem;
    right: -4.5rem;
    font-size: 3.5rem;
}

a:visited {
    color: inherit;
}

a:hover {
    color: #0e9be8;
}

article {
    width: 100%;
    height: 70px;
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    font-family: 'Roboto Flex', sans-serif;
    font-size: 20px;
}

.ticker-wrapper {
    transform: translate(100%, 0);
    animation: ticker 20s infinite linear forwards;
}

@keyframes ticker {
    0% {
      transform: translate(100%, 0);
    }
  
    50% {
      transform: translate(0, 0);
    }
  
    100% {
      transform: translate(-100%, 0);
    }
  }